{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script src="{% static 'scripts/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'scripts/js.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <h1>Hello</h1>
    <h2>Welcome</h2>
    {% block content %}
    {% endblock %}
    <hr>

    <div id="map"></div>
    <div id="list">
        <div id="row_wrap_wrap">
            <div id="row_head">
                <div class="first_row row">순서</div>
                <div class="second_row row" style="line-height: 50px; text-align: center;">위치와 시간</div>
                <div class="third_row row">확인</div>
            </div>

            <!-- NOTE: 결과 -->
            <div class="row_wrap">
                <div class="first_row row">1</div>
                <div class="second_row row">
                    경기 부천시 조마루로385번길 122<br>{% block time1 %}{% endblock %}
                </div>
                <div class="third_row row"><button>확<br>인</button></div>
            </div>
            <div class="row_wrap">
                <div class="first_row row">1</div>
                <div class="second_row row">
                    경기 부천시 조마루로385번길 122<br>{% block time2 %}{% endblock %}
                </div>
                <div class="third_row row"><button>확<br>인</button></div>
            </div>
        </div>
    </div>

    {% if post.lnglat %}
    <script>
        $(".third_row > button").on("click",function(){
            var con = confirm("진짜로 지우시겠습니까?");
            if(con === true){
                $(this).css({"background":"blue"})
            }else{
                $(this).css({"background":"red"})
            }
        });
        var locations = [
            ['위치', {{ post.lnglat }}],
            ['위치2', 37, 126.98]
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: new google.maps.LatLng({{ post.lnglat }}),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                id: i,
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
            if (marker)
            {
                marker.addListener('click', function () {
                    map.setZoom(15);
                    map.setCenter(this.getPosition());
                });
            }
        }
    </script>
    {% endif %}
</body>

</html>